nav{
    height: 90px;
}

/*Titulo ARTISTRY-logo*/
a {
    font-size: 40px;
    padding-right: 500px;
}

/*Estilo de la separación del menu*/
ul{
    padding: 10px 30px;
    margin:  0px;
}

/*Estilo de las letras del menu*/
li > a{
    display: inline-block;
    margin: 40px 15px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 414px){

    /*Titulo ARTISTRY-logo*/
    a {
       font-size: 30px;
       padding-right: 150px;
    }

    .boton-nav{
        display: flex;
        justify-content:space-between;
    }
}