<section class="section-servicios conteiner-fluid bg-info p-4">
    <h2>Servicios</h2>
    
    <!--codigo de las cards de bootstrap - Estilo Grid cards de 3 componentes-->
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <div class="col"> <!--card 1-->
        
        <div class="card h-100">
          <img src="./assets/Materiales/Card-APP.jpg" class="card-img-top" alt="Imagen de aplicacion">
          <div class="transparencia-card card-body">
            <h5 class="card-title">¡CONOCE NUESTRA APP!</h5>
            <p class="card-text"> Maquillate virtualmente para conocer <br> 
              los productos y tonos que más te favorezcan. <br>
              Y evalua el estado de tu piel para mejorarla. <br>
              ¡Prueba diferentes estilos!<br>
              ¡Elige lo mejor para ti!
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

      </div> <!--fin card 1-->

      <div class="col"> <!--card 2-->

        <div class="card h-100">
          <img src="./assets/Materiales/Card-Recomendaciones.jpg" class="card-img-top" alt="Imagen de Recomendaciones">
          <div class="transparencia-card card-body">
            <h5 class="card-title">TIPS, PROMOS Y MUCHO MÁS</h5>
            <p class="card-text"> Conoce más sobre la marca ARTISTRY, 
              <br>sus principios, valores y certificaciones.<br>
               Ademas de recomendacione sobre maquillaje y cuidado de la piel.<br>
               ¡No te lo pierdas! 
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

      </div> <!--fin card 2-->

      <div class="col"> <!--card 3-->
     
        <div class="card h-100">
          <img src="./assets/Materiales/Card-Edicion limitada.jpg" class="card-img-top" alt="Imagen de Edicion limitada">
          <div class="transparencia-card card-body">
            <h5 class="card-title">EDICIÓN LOS ANGELES</h5>
            <p class="card-text">¡Llego la nueva edición limitada!<br>
              Disponible para ustedes el estilo alegre y vivaz<br>
              de Los Angeles para dejarlos en tu piel.
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>

    </div> <!--fin card 3-->

    </div>
  <!--fin codigo de las cards de bootstrap-->
  </section>
