.section-servicios{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 30px;
}

/*Estilo del título de la seccion servicios*/
.section-servicios h2{
    width: 100%;
    height: 50px;
    margin-top: 0px;

    /*Estilo del texto*/
    font-size: 30px;
    text-transform: uppercase;
}

/*Tamaño de las imagenes dentro de las cards*/
.section-servicios img{
    width: 80%;
    height: 300px;
    object-fit: cover;
    margin-top: 15px;
    margin-left: 30px;
    padding: 10px;
}

/*Estilo de los títulos de las cards*/
.section-servicios h5{
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

/*Estilo de las descripciones de las cards*/
.section-servicios p{
    font-style: italic;
    font-size: 15px;
    text-align: center;
}

/*Estilo de las transparencias de las cards*/
.transparencia-card{
    width: 100%;
    height: 38%;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media (max-width: 414px){

    .card {
      margin-bottom: 20px;
    }
  }