<div class="footer container-fluid bg-primary bg-gradient">

    <div class="row justify-content-between p-5">
      <div class="col-md-3 col-12 my-2">
        <div class="item-red">
          
          <i class="fas fa-phone-alt"></i>
          <a href="tel:264123587">264123587</a>

        </div>
      </div>
      <div class="col-md-3 col-12 my-2">
        <div class="item-red">

          <i class="fas fa-envelope"></i>
          <a href="ArtistryBelleza@gmail.com">ArtistryBelleza@gmail.com</a>

        </div>
      </div>
      <div class="col-md-3 col-12 my-2">
        <div class="item-red">

          <i class="fab fa-instagram-square"></i>
          <a href="https://instagram.com/ArtistryStudio">ArtistryStudio</a>
          
        </div>
      </div>
    </div>

</div>
