.footer{
    height: 130px;
}

.item-red a{
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.item-red i{
    font-size: 15px;
    margin: 0px 5px;
    color: black;
}

@media (max-width: 414px){

.footer{
    height: 210px;
}

.item-red a{
    font-size: 17px;
}

.item-red i{
    font-size: 17px;
}

}