.section-hero{
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: 30px;
}

/*Tamaño de la imagen del hero*/
img {
    width: 100%;
    height: 500px;
}

@media (max-width: 414px){

  img {
    height: 400px;
  }
}