<section class="section-hero conteiner-fluid bg-info p-4">

  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/Materiales/Skin Nutrition.jpg" class="d-block w-100" alt="Skin Nutrition">
      </div>
      <div class="carousel-item">
        <img src="./assets/Materiales/Tokyo edition.jpg" class="d-block w-100" alt="Tokyo edition">
      </div>
      <div class="carousel-item">
        <img src="./assets/Materiales/Los Angeles edition.jpg" class="d-block w-100" alt="Los Angeles edition">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>